body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
#chatbox {
    width: 300px;
    height: auto;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    resize: both;
    overflow: auto;
    cursor: move;
    transition: height 0.3s ease;
}
#chatTitle {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    cursor: move;
}
#messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    color: #000;
}
.message {
    margin: 5px 0;
    padding: 10px;
    max-width: 70%;
    border-radius: 10px;
    word-wrap: break-word;
    background-color: #fff;
}
.user-message {
    align-self: flex-end;
    background-color: #fff;
    color: #080808;
}
.bot-message {
    align-self: flex-start;
    background-color: #fff;
    color: #0c0c0c;
}
#messageForm {
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 10px;
}
#messageInput {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #000;
}
#messageForm button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
#messageForm button:hover {
    background-color: #0056b3;
}

/* Styles pour l'indicateur de chargement */
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Bleu */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    margin: 5px 0;
    text-align: center;
}

/* Styles pour les nouveaux boutons */
.action-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 10px;
}
.action-buttons button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.action-buttons button:hover {
    background-color: #0056b3;
}

/* Styles pour l'enregistrement vocal */
#recordButton {
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}
#recordButton:hover {
    background-color: #0056b3;
}
